html { width:100%; height:100%; margin:0; padding:0; }
body { width:100%; height:100%; margin:0; padding:0; }

h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans",Arial,sans-serif;
    color: #1E1E1E;
}

th{
    font-family: "Open Sans", Arial, sans-serif;
}

td{
    font-family: "Open Sans",Arial, sans-serif;
}

.profile-info{
    width: 500px;
    float: left;
}


#info {
    background: whitesmoke;
    border-collapse: separate;
    box-shadow: inset 0 1px 0 #fff;
    font-size: 13px;
    line-height: 20px;
    margin: 30px auto;
    text-align: left;
}

#info th {
    background: linear-gradient(#777C81, #444444);
    border-left: 1px solid #555;
    border-right: 1px solid #777;
    border-top: 1px solid #555;
    border-bottom: 1px solid #333;
    color: #fff;
    font-weight: bold;
    padding: 10px 15px;
    position: relative;
    text-shadow: 0 1px 0 #000;
}
#info td {
    border-right: 1px solid beige;
    border-left: 1px solid beige;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 10px 15px;
    position: relative;
}
.review-table{
    position: absolute;
    top: 33%;
    left: 60%;
    width: 400px;
}

#header-img {
    height: 88px;
    width: 180px;
    opacity: 100%;
}

#main-page {
    position: absolute;
    top: 8.5%;
    left: 72%;
    font-size: 12px;
    color: beige;
    font-family: "Open Sans",Arial,sans-serif;
}

.header{
    height: 120px;
    background-color: #1E1E1E;
}
.center {
    position: absolute;
    top: 7%;
    left: 50%;
    transform: translate(-50%, -50%);
}